html, body {
    height: 100vh;
  }
  
  body {
    background: #001413;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  .radar {
    --size: 350px;
    --color: #15fcd8;
    
    width: var(--size);
    height: var(--size);
    margin: auto;
    border: 3px solid var(--color);
    border-radius: 50%;
    background:
      /* 4) guides */
      linear-gradient(transparent 0 49.75%, var(--color) 49.75% 50%, transparent 50% 100%),
      linear-gradient(to right, transparent 0 49.75%, var(--color) 49.75% 50%, transparent 50% 100%),
      /* 3) radar */
      radial-gradient(
        transparent 0% 25%,
        var(--color) 25.5% 25.75%, transparent 26% 50%,
        var(--color) 50.5% 50.75%, transparent 51% 75%,
        var(--color) 75.5% 75.75%, transparent 76% 100%),
      radial-gradient(#00767211 0, #002421 65%),
      /* 2) grid */
      repeating-linear-gradient(to right, #0e817a77 0 1px, transparent 1.5px 25px),
      repeating-linear-gradient(#0e817a77 0 1px, transparent 1.5px 25px),
      /* 1) background */
      radial-gradient(#007672 0, #002421 65%);
    position: relative;
    mix-blend-mode: difference; /* color-dodge; */
  }
  
  .dot { 
    width: var(--size);
    height: var(--size);
    background: var(--color);
    border-radius: 50%;
    position: absolute;
    filter: blur(1px);
    opacity: 0.5;
    left: var(--x);
    top: var(--y);
    animation: disappear 1s ease-in-out forwards;
  }
  
  .radar::before {
    --dark-color: color-mix(in srgb, var(--color), transparent 85%);
    
    content: "";
    display: block;
    background: var(--dark-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    filter: blur(1px);
    animation: pulse 1.25s infinite 0.25s;
  }
  
  .radar::after {
    --radar-color: color-mix(in srgb, var(--color), transparent 50%);
    
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: conic-gradient(transparent 0, var(--radar-color) 0.1turn 0.15turn, transparent 0.25turn);
    border-radius: 50%;
    mix-blend-mode: plus-lighter;
    animation: move-radar 5s linear infinite;
  }
  
  @keyframes move-radar {
    from { rotate: -0.125turn; }
    to { rotate: 0.875turn; }
  }
  
  @keyframes pulse {
    0% { scale: 1; }
    100% { scale: 1.15; opacity: 0; }
  }
  
  @keyframes disappear {
    to { opacity: 0; }
  }